@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<OrderDetail>
<div class="container-fluid">


        <a asp-controller="Orders" asp-action="Index" class="" title="View Details" data-toggle="tooltip"><i class="btn btn-info">Order List</i></a>
    <div class="container">
        <!-- Title -->
        <div class="d-flex justify-content-between align-items-center py-3">
            <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order Details</h2>
        </div>

        <!-- Main content -->
        <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-lg-8">
                <!-- Details -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-3 d-flex justify-content-between">
                            <div>
                                <span class="me-3">@item.Order.DateOrder</span>
                                <span class="me-3">#@item.Order.Id</span>
                                
                                <span class="badge rounded-pill bg-info">SHIPPING</span>
                            </div>
                            <div class="d-flex">
                                <button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text"><i class="bi bi-download"></i> <span class="text">Invoice</span></button>
                                <div class="dropdown">
                                    <button class="btn btn-link p-0 text-muted" type="button" data-bs-toggle="dropdown">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Edit</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i> Print</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="@item.Book.Image" alt="" width="35" class="img-fluid">
                                            </div>
                                            <div class="flex-lg-grow-1 ms-3">
                                                <h6 class="small mb-0"><a href="#" class="text-reset">@item.Book.NameBook</a></h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@item.Quantity</td>
                                    <td class="text-end">@item.Price</td>
                                </tr>
                            </tbody>
                             
                        </table>
                            <a asp-controller="OrderDetails" asp-action="Delete" asp-route-id=@item.Id class="btn btn-danger">Delete OrerDetails</a>
                    </div>
                </div>
            </div>
            }
            <div class="col-lg-4">
                <div class="card mb-4">
                    <!-- Shipping information -->
                    <div class="card-body">
                        <h3 class="h6">Address</h3>
                            <address>
                                <strong>
                                    @ViewBag.User.FullName
                                </strong>
                                <br>
                                    @ViewBag.User.Address<br>
                                <abbr title="Phone">@ViewBag.User.PhoneNumber</abbr>
                            </address>
                        <hr>
                             <h3 class="h6">Payment Method</h3>
                                    <p>
                                        Visa -1234 <br>
                                        Total: $169,98 <span class="badge bg-success rounded-pill">PAID</span>
                                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
