@model IEnumerable<ASM_APP_DEV.Models.Book>

@{
    ViewData["Title"] = "IndexAdmin";
}


<p>
    
    <a asp-action="Create" type="button" class="btn button-56" style = "width: 20%; margin-left: 40%">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InformationBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateAt)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Image)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceBook)
            </td>

            <td class="label_title">
                @Html.DisplayFor(modelItem => item.InformationBook)
            </td>

            <td >
                @Html.DisplayFor(modelItem => item.CreateAt)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Detail" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<style>
/* CSS */
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

(min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
.label_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 88%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;

}
</style>
<script>$(".label_title").each(function(){if ($(this).text()
    .length > 40) {$(this).text($(this).text()
    .substr(0, 40));$(this).append('...');}});</script>
